<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt="MAISON DE LUXE"></a>
                    </div>
                    <p class="luxury-text">Crafting timeless elegance through meticulous attention to detail and exceptional craftsmanship.</p>
                    <div class="payment-methods mt-4">
                        <a href="#"><img src="img/payment.png" alt="Payment Methods"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>COLLECTIONS</h6>
                    <ul>
                        <li><a href="#">Haute Couture</a></li>
                        <li><a href="#">Ready-to-Wear</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Private Collection</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>CLIENT SERVICES</h6>
                    <ul>
                        <li><a href="#">Contact Maison</a></li>
                        <li><a href="#">Exclusive Services</a></li>
                        <li><a href="#">Shipping Information</a></li>
                        <li><a href="#">Returns & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>SUBSCRIBE</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to receive exclusive offers and previews of upcoming collections.</p>
                        <form action="#" class="luxury-form">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <p>© <script>document.write(new Date().getFullYear());</script> MAISON DE LUXE. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">×</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search collections...">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<style>
    /* Luxury Footer Styling */
    .footer {
        background-color: #1a1a1a;
        padding: 80px 0 40px;
        color: #999;
    }
    
    .footer__logo {
        margin-bottom: 30px;
    }
    
    .footer__about p {
        margin-bottom: 15px;
        line-height: 1.8;
        font-size: 14px;
        color: #999;
        width: 250px;
    }
    .footer__about p {
        margin-bottom: -16px;
        font-style: italic;
        line-height: 1.8;
        font-size: 14px;
        color: #999;
        width: 600px;
    }
    .footer__newslatter p {
        font-size: 14px;
        color: #999;
        width: 500px;
        margin-bottom: 20px;
        line-height: 1.8;
    }
    
    .footer__widget h6 {
        color: #d4af37;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 25px;
        position: relative;
        padding-bottom: 15px;
    }
    
    .footer__widget h6:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 1px;
        background: #d4af37;
    }
    
    .footer__widget ul li {
        list-style: none;
        margin-bottom: 10px;
    }
    
    .footer__widget ul li a {
        font-size: 12px;
        color: #999;
        letter-spacing: 1px;
        text-decoration: none;
        transition: all 0.3s ease;
        text-transform: uppercase;
    }
    
    .footer__widget ul li a:hover {
        color: #d4af37;
        padding-left: 5px;
    }
    
    .footer__newslatter p {
        font-size: 14px;
        color: #999;
        margin-bottom: 20px;
        line-height: 1.8;
    }
    
    .footer__newslatter form {
        position: relative;
        margin-bottom: 30px;
    }
    
    .footer__newslatter form input {
        width: 100%;
        height: 50px;
        font-size: 13px;
        color: #999;
        background: transparent;
        border: none;
        border-bottom: 1px solid #333;
        padding-right: 40px;
        padding-left: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    .footer__newslatter form input::placeholder {
        color: #666;
    }
    
    .footer__newslatter form input:focus {
        outline: none;
        border-bottom-color: #d4af37;
    }
    
    .footer__newslatter form button {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        background: transparent;
        border: none;
        color: #d4af37;
        font-size: 16px;
        cursor: pointer;
    }
    
    .footer__social {
        text-align: center;
        padding: 30px 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        margin: 40px 0 30px;
    }
    
    .footer__social a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background: transparent;
        font-size: 15px;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        border: 1px solid #666;
        border-radius: 50%;
        margin-right: 10px;
        transition: all 0.3s ease;
    }
    
    .footer__social a:hover {
        background: #d4af37;
        color: #1a1a1a;
        border-color: #d4af37;
    }
    
    .footer__copyright__text {
        font-size: 12px;
        color: #666;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    /* Search model styling */
    .search-model {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 9999;
    }
    
    .search-model-form {
        padding: 0 15px;
    }
    
    .search-model-form input {
        width: 500px;
        font-size: 36px;
        color: #ffffff;
        background: transparent;
        border: none;
        border-bottom: 2px solid #d4af37;
    }
    
    .search-model-form input::placeholder {
        color: #666;
    }
    
    .search-model-form input:focus {
        outline: none;
    }
    
    .search-close-switch {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        line-height: 46px;
        top: 30px;
        right: 30px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .search-close-switch:hover {
        background: #d4af37;
        color: #1a1a1a;
    }
    
    @media (max-width: 767px) {
        .footer {
            padding: 50px 0 30px;
        }
        
        .footer__widget {
            margin-bottom: 30px;
        }
        
        .search-model-form input {
            width: 100%;
            font-size: 24px;
        }
    }
</style>
</body>

</html>