<%-include("../../views/partials/admin/header")%>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title" style="color:red">page not found</h2>
    </div>
</section>

<%-include("../../views/partials/admin/footer")%>