<%-include("../partials/admin/header")%>

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Dashboard</h2>
    </div>
</section>

<%-include("../partials/admin/footer")%>