</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').click(function(e) {
            e.preventDefault();
            $(this).next('.dropdown-menu').toggle();
        });
    });
</script>
</body>
</html>